@font-face {
  font-family: "Arboria-Book";
  src: url("./Arboria-Book.ttf");}
  @font-face {
    font-family: "Arboria-Medium";
    src: url("./Arboria-Medium.ttf");}

  
  
  

  


  


 

/* ALIGNING */
.arb-font {
  font-family: "Arboria-Medium" !important;
}
.art-font {
  font-family: "Arboria-Book" !important;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .site-dark-color {
    color: #1d305d !important;
  }
  
  .nav-link {
    color: #1d305d !important;
  }
  
  .btn-outline-custom-1 {
    color: #1d305d;
    border-color: #1d305d;
  }
  
  .btn-outline-custom-1:hover {
    color: #fff;
    background-color: #1d305d;
    border-color: #1d305d;
  }
  
  .navbar-brand {
    width: 230px;
  }
  
  .custom-btn-setting {
    border-radius: 10px;
  }
  
  .flex-gap > div {
    margin: 5px;
  }
  
  .light-1 {
    color: #94a2b3;
  }
  /* NAV AND HERO PAGE */
  .background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      #e5efff 0%,
      rgba(229, 239, 255, 0.262661) 83.7%,
      rgba(229, 239, 255, 0) 100%
    );
    z-index: -99;
  }
  #section-1 {
    background-image: url("images/Vector1.png");
    background-size: 50%;
    background-position: top right;
    background-repeat: no-repeat;
  }
  
  .hero-side-image {
    width: 100%;
  }

  /* MORE REASONS TO CHOOSE */
  #section-2 {
    color: white;
    position: relative;
    background: #0d4073;
    box-shadow: 0px -20px 0px 0px rgba(13, 64, 115, 0.35);
    -webkit-box-shadow: 0px -20px 0px 0px rgba(13, 64, 115, 0.35);
    -moz-box-shadow: 0px -20px 0px 0px rgba(13, 64, 115, 0.35);
    border-radius: 25px 25px 0 0;
    z-index: 1;
  }
  
  #section-2 .sub-bg {
    background: url("images/global-numbers-bg.png");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  
  .center-image-section-2 {
    width: 100%;
  }

  

  .side-1-dotted {
    position: relative;
  }



  .section-3-s{
    width: 100%;
    height: 300px;
    background-image: url(new/logo\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
  }
  /* no minimum order */
  .section-7 {
    background-color: black;
    background-image: url(new/Mask\ group.png), url(new/roller.png),url(new/Rectangle\ 18237.png);
    background-position: top right, 32% bottom, 62% 80%;
    background-size: 100% 100%, 16% 50%, 40% 30%;
    background-repeat: no-repeat;
    border-radius: 30px;
  }
  /* registering zone */
  .regbutton {
    background-image: url(new/Frame\ 1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 250px;
    width: 100% !important;
    margin-bottom: 50px;
  }
  .regbutton p {
    line-height: 30px;
    width: 60%;
    font-size: 22px !important;
    padding-top: 50px !important ;
  }

  /* footer */
  .contact {
    background-color: #ffc51726 !important;
    box-shadow: 0px 4px 4px 0px #00000040 inset;
  }























  @media only screen and (max-width: 768px) {
    .navbar-brand {
      width: 150px;
    }
  
    .hero-side-image {
      width: 100%;
    }
  
    .flex-gap > div {
      margin: 20px;
    }
  
  .section-3 h4{
    width: 100% !important;
  }
    .section-6-word {
      display: flex !important;
      flex-direction: column !important;
      width: 100% !important;
      margin: 0 !important;
      text-align: justify;
      padding: 0 !important;
    }
  
    .flly-heading-div {
      width: 100% !important;
      margin-bottom: 50px;
    }
    .flly-heading {
      margin-top: 40px !important;
      font-size: 23px;
    }

    /* its fast and reliable */
    .section-7 {
      background-color: black;
      background-image: url(new/Mask\ group.png), url(new/roller.png),url(new/Rectangle\ 18237.png);
      background-position: top right, 5% bottom, 62% 80%;
      background-size: 100% 100%, 20% 46%, 70% 20%;
      background-repeat: no-repeat;
      border-radius: 30px;
      background-blend-mode: screen;
    }

     /* NO SETUP FEE. NO HASSLE */
  .section-7 {
    height: 400px;
    position: relative !important;
    display: grid;
    place-items: center;
    width: 90%;
  }
  .section-7 :nth-child(1) {
    margin: 0px !important;
  }

  .section-7 button {
    margin: auto;
    margin-top: 30px;
  }
  .section-7-head {
    width: inherit !important;
    text-align: center;
  }

  .section-7-words {
    padding: 10px !important;
    margin-top: 20px !important;
    width: 100% !important;
    font-size: smaller;
  }
 .minsmall{
  width: 100% !important;
  padding-left: 15% !important;
  padding-right: 15% !important;
 }
  .section-7-words small {
    margin-bottom: 35px !important;
   

    
  }

  /* section 8 */
  .section-8{
    height: max-content !important;
    width: 90% !important;
    margin-top: 30px !important;
    text-align: justify ;
    margin-bottom: 30px ;


  }


  /* Sign up for FLLYBY Logistics today and maximize your delivery and revenue! */

  .regbutton {
    background-image: url(new/Frame\ 1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 180px;
    width: 90% !important;
    padding: 0 !important;
  
    margin-top: 30px !important;
    margin-bottom: 0 !important;
    position: relative;
  }
  .regbutton p {
    font-size: 12px !important;
    padding: 25px 15px 5px 15px !important;
    padding-right: 80px !important;
    margin: 0 !important;
    width: 100%;
    line-height: 18px;
    margin-left: 7px !important;
  }
  .rbutton {
    margin-top: 0 !important;
    width: 50% !important;
    padding: 0 !important;
    text-align: start;
    height: 30% !important;
  }
  .rbuttondiv {
    text-align: start !important;
    align-items: start !important;
    padding: 0;
  }
  .rbutton span {
    font-size: 8px;
  }
  .aaa {
    width: 20% !important;
    padding: 0;
  }
  .aaa div {
    padding: 0 !important;
    margin-top: -7px !important;
    margin-left: -5px !important;
  }
  .aaa svg {
    height: 9px !important;
    width: 15px !important;
  }

  
     /* copyright */
  .copyright {
   font-size:11px;
    width:100% !important;
    margin:0 !important;
   


  }
  .footerdiv{
    padding: 0 20px;
  }
.copydiv{
margin:0 !important;

}
  }
  
  @media only screen and (max-width: 425px) {
    /*Small smartphones [325px -> 425px]*/
  }
  